{%extends 'base.html'%}
{% block content %} 
<main>
   <!-- ======= Resume Section ======= -->
   <section id="resume" class="resume">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="section-title">
            <h2>Resume</h2>
            <p>I am currently at Moringa School learning how to develop Softwares.</p>
          </div>
    
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
    
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Software Developer</h4>
                <h5>May 2021 - Present</h5>
                <p><em>Moringa School</em></p>
                <p>Moringa School offers opportunity for career advancement in Computer Programming.</p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Science in Software Engineering</h4>
                <h5>2016 - 2021</h5>
                <p><em>University Of Eastern Africa, Baraton</em></p>
                <p>I did my Bachelor's degree at Baraton Universityand graduated on August 2021. 
                  The course equiped me with knowledge in IT from which I developed interest in Software Engineering field. </p>
              </div>
              <div class="resume-item">
                <h4>KCSE</h4>
                <h5>2011 - 2014</h5>
                <p><em>Friends School Senende</em></p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Attachment/Volunteering</h4>
                <h5>Sep 2019 - April 2021/h5>
                <p><em>Baraton University</em></p>
                <ul>
                  <li>Software System Project Development.</li>
                  <li>Computer Hardware repair and Troubleshooting.</li>
                  <li>Keyboarding Lab Assistant.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Resume Section -->
</main>
{% endblock %}